nav.navbar.navbar-default {
    margin-bottom: 0;
  }

  .navbar-nav{
      margin-left: auto;
      font-size: 30px;
      font-weight: 900;
  }

  .navbar-brand{
      font-size: 35px !important;
      font-weight: 900;
  }