.footer {
    min-height: 100px;
    min-width: 100vw;
    background: #000000;
    position: fixed;
    bottom: 0;
  }
  
  .footer span {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }