.card-container{
    border: 1px solid black;
    margin: 50px auto;
    margin-top: 125px !important;
}

h2{
    border-bottom: 5px solid black;
    font-size: 40px !important;
}

.beginning{
    font-size: 20px !important;
}